@import "../../styles/variables";
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: $header;
  z-index: 1000;
  width: 100%;
  background-color: $blue;
  box-shadow: $boxShadow;
  position: fixed;
  transition: transform 500ms;
  top: 0;
  &.unfix {
    transform: translateY(0);
    border-radius: 3px;
  }
  &.fix {
    transform: translateY(55px);
  }
  @media (min-width: $breakpointLg) {
    border-radius: 40px;
    max-width: 1286px;
    &.unfix {
      border-radius: 3px;
    }
  }
}
.linkWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-right: space(sm);
  @media (min-width: $breakpointLg) {
    padding-right: 0;
    flex-grow: 1;
  }
  p {
    margin-right: 75px;
    text-align: center;
    width: 100%;
    font-size: $smallFont;
  }
}
.icon {
  margin-left: $xl;
  &:hover {
    cursor: pointer;
  }
}
