@import "../../styles/variables";
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: $header;
  border-radius: 5px;
  z-index: 1000;
  width: 100%;
  background-color: $white;
  position: fixed;
  top: 0;
  @media (min-width: $breakpointLg) {
    max-width: 1286px;
  }
}
.linkWrapper {
  width: 100%;
  margin: 0 10px;
  display: flex;
  justify-content: flex-end;
  align-content: center;
  p {
    font-size: $sm;
    color: $navy;
  }
}
.link {
  @include textLink;
}
