@import "../../styles/variables";
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: $header;
  border-radius: 5px;
  z-index: 1000;
  width: 100%;
  background-color: transparent;
  position: fixed;
  top: 0;
  &.white {
    background-color: $white;
  }
  @media (min-width: 1200px) {
    max-width: 1200px;
  }
}
.linkWrapper {
  width: 90%;
  display: flex;
  justify-content: flex-end;
  align-content: center;
  p {
    margin: 0;
    font-size: $smallFont;
    color: $navy;
  }
}
