@import "../../styles/variables";
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 90%;
  @media (min-width: 600px) {
    align-items: flex-start;
  }
}
.input {
  @include fade-in-fast;
  @include input;
}
.button {
  @include button;
  @include fade-in-slow;
}
.backButton {
  @include button;
  @include fade-in-slow;
  background-color: $white;
  color: black;
  border: 1px solid black;
  &:hover {
    background-color: black;
    color: $white;
  }
}
.radioGroup {
  @include fade-in-slow;
}
.modal {
  @include modal;
}
.paper {
  border: none;
  border-radius: 5px;
  @include fade-in-fast;
  @include animation;
  outline: none;
  background-color: $white;
  width: 70%;
  padding: 20px 20px;
  @media (min-width: 900px) {
    width: 40%;
  }
}
.infoIcon {
  font-size: $md;
  color: $blue;
  margin-left: $xs;
  cursor: pointer;
  &:hover {
    @include pulse;
  }
}
.radioLabel {
  display: flex;
  align-items: center;
}
.itemRow {
  display: flex;
  align-items: center;
}
.compeitionItem {
  margin-right: 0 !important;
}
