html,
body {
  padding: 0 20px;
  max-width: 1366px;
  margin: auto;
  font-family: Fjalla One, Open Sans, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}
p {
  font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
h1 {
  letter-spacing: 2px;
}
h2 {
  @media (max-width: 900px) {
    font-size: 20px;
  }
}
* {
  box-sizing: border-box;
}
