html,
body {
  background-color: #18191a;
  width: 100%;
  margin: auto;
  font-family: Fjalla One, Open Sans, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
  color: #e4e6eb;
}
span {
  color: #e4e6eb;
}
a {
  color: #b4b6b9;
  text-decoration: none;
}
p {
  font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: #e4e6eb;
}
h1 {
  letter-spacing: 2px;
}
h2 {
  @media (max-width: 900px) {
    font-size: 20px;
  }
}
* {
  box-sizing: border-box;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  box-shadow: 0 0 0 30px #828891 inset;
}
